@charset "UTF-8";
/** 音信不通メッセージのリマインドダイアログ */
#message_reply_remind_dialog { position: fixed; right: 2em; bottom: 10em; z-index: 10; width: 158px; padding: 0 16px; background: #FFF; border: 1px solid #DDD; border-radius: 16px; box-shadow: 0px 3px 5px rgba(26, 26, 26, 0.16); }

#message_reply_remind_dialog.hide { display: none; }

#message_reply_remind_dialog .header { display: flex; align-items: center; margin-top: 24px; }

#message_reply_remind_dialog .header__icon { margin-right: 4px; padding-top: 2px; font-size: 16px; }

#message_reply_remind_dialog .header__text { white-space: nowrap; font-weight: bold; font-size: 12px; }

#message_reply_remind_dialog .notice-check { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 16px; }

#message_reply_remind_dialog .notice-check__icon { display: block; margin: 2px 0 0 0; }

#message_reply_remind_dialog .notice-check__area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 0 0 4px; margin: 0; font-size: 10px; cursor: pointer; }

#message_reply_remind_dialog .link-button { display: inline-block; margin-top: 16px; }

#message_reply_remind_dialog .link-button button { width: 100%; line-height: 1.5; font-size: 12px; }

#message_reply_remind_dialog .close-button { width: 100%; padding: 4px 0; margin: 8px 0; background: #FFF; border: 1px solid #FFF; font-size: 12px; color: #2863A8; }
