.flex-center, #personality_map_modal .type .type_no, #personality_map_modal .type .type_name, #personality_map_modal .type .description, #personality_map_modal .map_side .title, #personality_map_modal .style_group_name, #personality_map_modal .style .style_name, #personality_map_modal .style .style_text, #personality_map_modal .detail_header, #personality_map_modal .detail_footer, #personality_map_modal .detail_content .no_list { display: flex; align-items: center; justify-content: center; }

#personality_map_modal * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#personality_map_modal { width: 1080px; left: calc((100% - 1080px)/2); top: calc((100% - 655px)/2); height: 655px; margin: 0; }

#personality_map_modal .modal-footer { padding: 10px 15px 15px; }

#personality_map_modal .modal-body { max-height: none; padding: 10px 15px; }

#personality_map_modal .personality_map { display: flex; justify-content: center; }

#personality_map_modal .map_content { display: flex; }

#personality_map_modal .distribution { border-right: solid 1px #A7A7A7; border-bottom: solid 1px #A7A7A7; flex: 1 0 auto; display: flex; flex-direction: column; position: relative; }

#personality_map_modal .distribution_row { display: flex; flex: 1 0 auto; }

#personality_map_modal .distribution_row .distribution_cell { position: relative; flex: 1 0 auto; border-right: solid 1px #A7A7A7; border-bottom: solid 1px #A7A7A7; }

#personality_map_modal .distribution_row .distribution_cell .distribution_cell_content { width: 100%; height: 100%; position: absolute; display: flex; justify-content: center; align-items: center; }

#personality_map_modal .distribution_row .distribution_cell:first-child { border-left: solid 1px #A7A7A7; }

#personality_map_modal .distribution_row .distribution_cell:nth-child(3) { border-right: solid 2px #A7A7A7; }

#personality_map_modal .distribution_row .distribution_cell:nth-child(5) { border-right: solid 2px #A7A7A7; }

#personality_map_modal .distribution_row .distribution_cell:hover .distribution_cell_content { background-color: rgba(51, 51, 51, 0.3); }

#personality_map_modal .distribution_row .distribution_cell.selected .distribution_cell_content { background-color: rgba(174, 194, 229, 0.3); border: solid 4px #014170; }

#personality_map_modal .distribution_row .distribution_cell.selected:hover .distribution_cell_content { background-color: rgba(174, 194, 229, 0.6); }

#personality_map_modal .distribution_row:first-child .distribution_cell { border-top: solid 1px #A7A7A7; }

#personality_map_modal .distribution_row:last-child { border-bottom: solid 1px #A7A7A7; }

#personality_map_modal .distribution_row:last-child .distribution_cell { border-bottom: 0; }

#personality_map_modal .distribution_row:nth-child(2) .distribution_cell { border-bottom: solid 2px #A7A7A7; }

#personality_map_modal .distribution_row:nth-child(4) .distribution_cell { border-top: solid 1px #A7A7A7; }

#personality_map_modal .map_header { display: flex; height: 162px; border: solid #A7A7A7; border-width: 1px 1px 0 0; }

#personality_map_modal .map_itemname { position: relative; width: 110px; border: solid #A7A7A7; border-width: 1px 1px 1px 2px; font-size: 12px; }

#personality_map_modal .map_itemname .diagonal { height: 100%; width: 100%; border-top: solid #A7A7A7 1px; transform: matrix(1, 1.5, 0, 1, 0, 79); }

#personality_map_modal .map_itemname .rowname { position: absolute; display: flex; right: 5px; top: 5px; }

#personality_map_modal .map_itemname .columnname { position: absolute; display: flex; left: 5px; bottom: 5px; }

#personality_map_modal .map_group { border: solid 1px #A7A7A7; flex: 1 0 auto; }

#personality_map_modal .map_group_name { height: 40px; font-size: 15px; font-weight: bold; }

#personality_map_modal .map_group_name .description { font-size: 12px; font-weight: normal; }

#personality_map_modal .type_wrapper { display: flex; justify-content: center; }

#personality_map_modal .type { width: 83px; display: flex; flex-direction: column; font-weight: bold; margin: 1px; align-items: center; }

#personality_map_modal .type .type_no { font-size: 12px; font-weight: normal; line-height: 1.6; }

#personality_map_modal .type .type_name { font-size: 16px; }

#personality_map_modal .type .description { font-size: 12px; height: 30px; line-height: 14px; }

#personality_map_modal .type .icon { width: 45px; height: 45px; background-size: contain; background-repeat: no-repeat; }

#personality_map_modal .type.CL1 { background: #9FCFB3; }

#personality_map_modal .type.CL2 { background: #8FBA26; }

#personality_map_modal .type.CL3 { background: #6AAF31; }

#personality_map_modal .type.CL4 { background: #69B9E2; }

#personality_map_modal .type.CL5 { background: #AD93C0; }

#personality_map_modal .type.CL6 { background: #F5F4C9; }

#personality_map_modal .type.CL7 { background: #F3C596; }

#personality_map_modal .type.CL8 { background: #D63A85; }

#personality_map_modal .type.CL1 .icon { background-image: url("../../../assets/img/cef1g/ef1g_fox_c.png"); }

#personality_map_modal .type.CL2 .icon { background-image: url("../../../assets/img/cef1g/ef1g_raccoondog_c.png"); }

#personality_map_modal .type.CL3 .icon { background-image: url("../../../assets/img/cef1g/ef1g_sheep_c.png"); }

#personality_map_modal .type.CL4 .icon { background-image: url("../../../assets/img/cef1g/ef1g_tiger_c.png"); }

#personality_map_modal .type.CL5 .icon { background-image: url("../../../assets/img/cef1g/ef1g_mole_c.png"); }

#personality_map_modal .type.CL6 .icon { background-image: url("../../../assets/img/cef1g/ef1g_lion_c.png"); }

#personality_map_modal .type.CL7 .icon { background-image: url("../../../assets/img/cef1g/ef1g_hourse_c.png"); }

#personality_map_modal .type.CL8 .icon { background-image: url("../../../assets/img/cef1g/ef1g_monkey_c.png"); }

#personality_map_modal .map_side { margin-left: 15px; width: 200px; border: solid 2px #D9D9D9; border-radius: 5px; padding: 15px 8px; box-sizing: border-box; }

#personality_map_modal .map_side .title { font-size: 15px; font-weight: bold; margin-bottom: 10px; }

#personality_map_modal .map_side .bar_graf_area { display: flex; margin: 10px; margin-left: 20px; }

#personality_map_modal .map_side .bar_graf_gradation { background: linear-gradient(#a33c3c 0%, #a33c3c 50%, white 100%); flex-basis: 50%; height: 80px; border: 2px solid #ccc; }

#personality_map_modal .map_side .bar_graf_value { flex-basis: 70%; display: flex; flex-direction: column; justify-content: space-between; flex-wrap: wrap; }

#personality_map_modal .map_side .bar_graf_value p { margin-bottom: 0px; }

#personality_map_modal .map_side .fa { margin-left: 5px; }

#personality_map_modal .map_conditions .filter-wrapper { margin-left: 20px; }

#personality_map_modal .map_conditions #selected_label { margin-left: 10px; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 12px; color: #999; }

#personality_map_modal .style_group_wrapper { background: #FFFFD9; width: 110px; border-top: solid 1px #A7A7A7; }

#personality_map_modal .style_group { display: flex; border: solid #A7A7A7; border-width: 0 1px 2px 2px; }

#personality_map_modal .style_group_name { width: 22px; border-right: solid 1px #A7A7A7; writing-mode: vertical-rl; -ms-writing-mode: tb-rl; -o-writing-mode: vertical-rl; font-weight: bold; }

#personality_map_modal .style_wrapper { flex: 1 0 auto; }

#personality_map_modal .style { box-sizing: border-box; border-bottom: solid 1px #A7A7A7; }

#personality_map_modal .style:last-child { border-bottom: none; }

#personality_map_modal .style .style_bullet { display: flex; align-items: center; justify-content: flex-end; padding: 5px 5px 0 0; }

#personality_map_modal .style .style_name { font-weight: bold; }

#personality_map_modal .style .style_text { font-weight: bold; font-size: 10px; }

#personality_map_modal .style.style-A .style_bullet { color: #D93939; }

#personality_map_modal .style.style-A .style_name { color: #D93939; }

#personality_map_modal .style.style-B .style_bullet { color: #D15A9A; }

#personality_map_modal .style.style-B .style_name { color: #D15A9A; }

#personality_map_modal .style.style-C .style_bullet { color: #3F7FC7; }

#personality_map_modal .style.style-C .style_name { color: #3F7FC7; }

#personality_map_modal .style.style-D .style_bullet { color: #EA7F03; }

#personality_map_modal .style.style-D .style_name { color: #EA7F03; }

#personality_map_modal .style.style-E .style_bullet { color: #59B27D; }

#personality_map_modal .style.style-E .style_name { color: #59B27D; }

#personality_map_modal .distribution_detail { background-color: #fff; border: solid 2px #E6E6E6; border-radius: 8px; width: 350px; position: absolute; bottom: calc(100% + 12px); left: -50%; z-index: 10; }

#personality_map_modal .distribution_detail::before { content: ''; border: 28px solid transparent; border-width: 54px 20px 0 20px; position: absolute; left: 140px; margin-left: -84px; border-top-color: #E6E6E6; bottom: -43px; transform: rotate(30deg); z-index: -10; }

#personality_map_modal .distribution_detail::after { content: ''; border: 28px solid transparent; border-width: 54px 20px 0 20px; position: absolute; left: 140px; margin-left: -84px; border-top-color: #fff; bottom: -40px; transform: rotate(30deg); z-index: -9; }

#personality_map_modal .distribution_detail .space { width: 64px; height: 38px; position: absolute; top: 100%; left: 62px; z-index: -10; }

#personality_map_modal .detail_header { padding: 10px 0; font-size: 15px; font-weight: bold; border-bottom: solid 1px #A7A7A7; }

#personality_map_modal .detail_footer { padding: 10px 0; border-top: solid 1px #A7A7A7; }

#personality_map_modal .detail_content { display: flex; min-height: 70px; }

#personality_map_modal .detail_content a { display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

#personality_map_modal .detail_content a.not-link { pointer-events: none; color: #333; }

#personality_map_modal .detail_content .no_list { flex: 1 0 auto; padding: 20px 0; }

#personality_map_modal .detail_content .detail_list { flex: 1; padding: 5px; overflow: hidden; }

#personality_map_modal .detail_content .detail_list:nth-child(2) { border-left: solid 1px #A7A7A7; }

#personality_map_modal .detail_content .other { display: flex; justify-content: flex-end; }

@media screen and (max-height: 600px) { #personality_map_modal { top: 10px !important; height: calc(100% - 20px) !important; overflow-x: hidden !important; overflow-y: scroll !important; } }
