@charset "UTF-8";
table { font-size: inherit; }

/* !01: button --------------------------------------- */
.ofb-btn { display: inline-block; width: auto; padding: 6px 12px; background: #F1F1F1; color: #333; border-radius: 4px; border: 1px solid #bfbfbf; border: 1px solid rgba(0, 0, 0, 0.25); font-size: 14px; text-align: center; line-height: 1.428571429; vertical-align: middle; cursor: pointer !important; }

.ofb-btn i { font-size: 14px; }

.ofb-btn.disabled { cursor: default !important; }

.ofb-btn:hover, .ofb-btn:active { text-decoration: none; background-color: #fafafa; color: #333; }

.ofb-btn--offer { background: #CA2929; border: 1px solid #CA2929; color: #FFF !important; }

.ofb-btn--offer:hover, .ofb-btn--offer:active { background-color: #D55454; border: 1px solid #D55454; color: #FFF; }

.ofb-btn--offer.disabled { background-color: #CA2929; opacity: 0.65; cursor: default; }

.ofb-btn--offer-done { background: #901C1C; border: 1px solid #901C1C; color: #FFF; cursor: default; }

.ofb-btn.ofb-btn--offer-done.disabled:hover, .ofb-btn--offer-done:active { background-color: #901C1C !important; border: 1px solid #901C1C; /*background-color: #a64949; border:1px solid #a64949;*/ color: #FFF; }

.ofb-btn--submit { background: #004170; border: 1px solid #004170; color: #FFF; }

.ofb-btn--submit:hover, .ofb-btn--submit:active, .ofb-btn--submit:disabled { background-color: #33678D; border: 1px solid #33678D; color: #FFF; }

.ofb-btn--favorite { background: #CA7129; border: 1px solid #CA7129; color: #FFF !important; }

.ofb-btn--favorite:hover, .ofb-btn--favorite:active { background-color: #D58D54; border: 1px solid #D58D54; color: #FFF; }

.ofb-btn--favorite.disabled { background-color: #CA7129; opacity: 0.65; cursor: default; }

.ofb-btn--listin, .ofb-btn--listin:hover { background-color: #81481A; border: 1px solid #81481A; }

.ofb-btn--general { background: #2863A8; border: 1px solid #2863A8; color: #fff; }

.ofb-btn--general:hover, .ofb-btn--general:active { background-color: #5382B9; border: 1px solid #5382B9; color: #fff; }

.ofb-btn--general i.fa-angle-right { font-weight: bold; }

.ofb-btn--clear { background: #f1f1f1; border: 1px solid #f1f1f1; color: #fff; }

.ofb-btn--clear:hover, .ofb-btn--clear:active { background-color: #f4f4f4; border: 1px solid #f4f4f4; /*background-color: #fff;*/ color: #333; }

.ofb-btn--delete { background: #717171; border: 1px solid #717171; color: #FFF; }

.ofb-btn--delete:hover, .ofb-btn--delete:active { background-color: #8D8D8D; border: 1px solid #8D8D8D; color: #FFF; }

.ofb-btn--txt-bk { color: #333; }

.ofb-btn--txt11 { font-size: 11px; }

.ofb-btn--std { /*font-size: 14px; padding: 6px 12px; border-radius:4px; line-height: 1.428571429*/ }

.ofb-btn--creative { background-color: #E73678; color: #fff; }

.ofb-btn--creative:hover, .ofb-btn--creative:active { background-color: #ec6c99; color: #fff; }

.ofb-btn-select { margin-top: 20px; margin-bottom: 20px; }

.ofb-btn-select.pull-right { display: table; margin-right: 130px; margin-left: auto; float: none; }

.search-terms--tabs > .ofb-btn-select.pull-right:first-child { margin-top: 0; }

.search-terms--tabs > * + .ofb-btn-select.pull-right:first-child { margin-top: 20px; }

.ofb-btn-select.pull-right span.btn { cursor: default; }

.ofb-btn-select.pull-right span.btn:hover, .ofb-btn-select.pull-right span.btn:active { background-color: #e6e6e6; }

.ofb-btn-select.pull-right span.btn:first-child:hover { background-color: #F1F1F1; }

.ofb-btn-select .btn--standard, .ofb-btn-select .btn--creative { background: #aaa; color: #fff; }

.ofb-btn-select .btn--standard.active { background-color: #004170; }

.ofb-btn-select a.btn.active:hover { cursor: default; }

.ofb-btn-select .btn--standard:not(.active):hover { background-color: #00a1e7; color: #fff; }

.ofb-btn-select .btn--creative.active { background-color: #E73678; }

.ofb-btn-select .btn--creative:not(.active):hover { background-color: #E73678; color: #fff; }

.ofb-btn--help { background: #666; color: #fff; }

.ofb-btn--help:hover { background: #999; color: #fff; }

.search-terms--tabs { position: relative; }

.search-terms--tabs .ofb-tabs { padding-right: 110px; }

.search-terms--tabs .ofb-tabs + .ofb-tabs-btn { position: absolute; right: 0; top: 0; width: 110px; height: 35px; }

.search-terms--tabs .ofb-tabs + .ofb-tabs-btn .ofb-btn { width: 100%; box-sizing: border-box; font-size: .8em; position: absolute; bottom: 5px; right: 0; padding-top: 3px; padding-bottom: 3px; text-align: center; }

.ofb-btn--xsmall { font-size: 10px; padding: 5px 7px; border-radius: 3px; line-height: 10px; }

.ofb-btn--xsmall i { font-size: 10px !important; }

.ofb-btn--small { font-size: 12px; padding: 5px 10px; border-radius: 3px; line-height: 1.5; }

.ofb-btn--small i { font-size: 12px; }

.ofb-btn--large { font-size: 16px; padding: 10px 16px !important; border-radius: 6px; line-height: 1.33; }

.ofb-btn--large i { font-size: 16px; }

.ofb-btn--xlarge { width: 180px; height: 18px; padding: 12px 24px; border-radius: 6px; font-size: 16px; line-height: 1.33; }

button.ofb-btn--xlarge { height: auto !important; box-sizing: content-box; }

input[type="submit"].ofb-btn--xlarge { width: 180px; height: auto !important; box-sizing: content-box; }

.ofb-btn__add { border-radius: 18px; }

.ofb-btn--xlarge i { font-size: 16px; }

.ofb-btn .caret { margin-top: 7px; margin-left: 0; }

.ofb-tag { display: inline-block; padding: 6px 10px; background-color: #D5E0ED; color: #3F6490; font-size: 12px; }

.ofb-tag--sm { padding: 1px 6px; }

.ofb-tag.ofb-label--small.display-block { display: block; }

.ef1g_result__wrapper .ofb-score-tag { float: right; padding: 1px 6px; }

.ofb-score-tag li .deviation { background-color: #0A447F; color: #fff; border-radius: 4px; padding: 4px 6px; }

.student-info--content .ofb-score-tag { float: right; margin-top: -10px; }

.ofb-tag--success { background-color: #1B95AF; color: #fff; }

.ofb-tag--warning { background-color: #DD9124; color: #fff; }

.ofb-tag--error { background-color: #CA2929; color: #fff; }

.ofb-tag--rcmmnd { background-color: #008000; color: #fff; }

.ofb-tag--neutral { background-color: #ff943d; color: #fff; }

.ofb-tag--success-frame { border: 1px solid #1B95AF; background-color: #fff; color: #1B95AF; }

.ofb-tag--warning-frame { border: 1px solid #DD9124; background-color: #fff; color: #DD9124; }

.ofb-tag--error-frame { border: 1px solid #CA2929; background-color: #fff; color: #CA2929; }

.ofb-tag--success-light { background-color: #A4D6E0; color: #00667C; }

.ofb-tag--warning-light { background-color: #F2DAB7; color: #A76200; }

.ofb-tag--error-light { background-color: #E4A9A9; color: #AB0000; }

.ofb-label { display: inline-block; padding: 4px 12px; font-size: 12px; line-height: 21px; }

.ofb-label--small { padding: 0 6px; }

.ofb-label--bunkei { background: #0a797f; color: #FFF; }

.ofb-label--rikei { background: #D9593D; color: #FFF; }

.ofb-label--other { background: #666; color: #FFF; }

.ofb-label--makers { background-color: tranceparent; color: #8B5E1C; border: 1px solid #8B5E1C; }

.ofb-label--standard { background-color: tranceparent; color: #004170; border: 1px solid #004170; }

.ofb-label--global { background-color: tranceparent; color: #0076C3; border: 1px solid #0076C3; }

.ofb-label--athlete { background-color: tranceparent; color: #00A1E7; border: 1px solid #00A1E7; }

.ofb-label--creative { background-color: tranceparent; color: #E73678; border: 1px solid #E73678; }

.ofb-label--general { background: #004170; color: #fff; }

.ofb-label--wait { background: #004170; color: #fff; }

.ofb-label--join { background: #2e8837; color: #fff; }

.ofb-label--cancel { background: #888; color: #fff; }

.ofb-label--resche { background: #f03b14; color: #fff; line-height: 1.4; }

.ofb-label--info { background: #4183c4; color: #fff; }

.ofb-label--lh14 { line-height: 1.4; }

.ofb-label--lh14.fs11 { font-size: 11px; }

.ofb-label--cinfo { min-width: 70px; line-height: 21px; text-align: center; }

/* label(modal) ------------------------------------------ */
.check-group [id^="label"] { display: none; }

.check-group [for^="label"] { float: left; margin-right: 15px; cursor: pointer; }

/* label ------------------------------------------ */
.ofb-c-label { position: relative; display: inline-block; height: 24px; line-height: 24px; padding: 0 1em; background-color: #ddd; border-radius: 0 3px 3px 0; color: #555; font-size: 12px; text-decoration: none; -webkit-transition: .2s; transition: .2s; cursor: pointer; }

.ofb-c-label span { max-width: 610px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; line-height: 1; }

.modal .ofb-c-label span { max-width: 500px; }

.modal-competencesearch .ofb-c-label span { max-width: 440px; }

.search-tab .ofb-c-label span { max-width: 550px; }

.filter_label_area .ofb-c-label span { max-width: 420px; }

.ofb-c-label:before { position: absolute; top: 0; left: -10px; content: ''; width: 0; height: 0; border-color: transparent #ddd transparent transparent; border-style: solid; border-width: 12px 10px 12px 0; -webkit-transition: .2s; transition: .2s; }

.ofb-c-label:after { position: absolute; top: 50%; left: 0; z-index: 2; display: block; content: ''; width: 6px; height: 6px; margin-top: -3px; background-color: #fff; border-radius: 100%; }

.cursor-default { cursor: default; }

.cursor-pointer { cursor: pointer; }

.student-control--label { display: inline-block; list-style: none; }

.student-control--label .add-link-label { margin-left: -15px; background-color: #fff; border: none; color: #4183c4; }

.student-control--label .add-link-label:hover, .student-control--label .add-link-label:active { text-decoration: underline; }

.student-control--label .add-link-label:focus { outline: none; }

.student-control--label .ofb-c-label, .student-control--label.ofb-c-label { background-color: #717171; background-color: #717171; color: #fff; margin-right: 16px; margin-bottom: 5px; }

[id^="label"] + .ofb-c-label:hover { background-color: #717171; color: #fff; }

[id^="label"]:checked + label.ofb-c-label { background-color: #717171; color: #fff; }

[id^="label"] + .ofb-c-label:hover { background-color: #aaa; background-color: rgba(113, 113, 113, 0.6); color: #fff; }

[id^="label"] + .ofb-c-label:hover:before, .student-control--label .ofb-c-label:before { border-color: transparent #717171 transparent transparent; }

[id^="label"] + .ofb-c-label:hover:before, [id^="label"]:checked + label.ofb-c-label:before, .student-control--label .ofb-c-label:before { border-color: transparent #717171 transparent transparent; }

[id^="label"] + .ofb-c-label:hover:before { border-color: transparent rgba(113, 113, 113, 0.6) transparent transparent; }

.student-control--label a.ofb-c-label:hover { background-color: #aaa; background-color: rgba(113, 113, 113, 0.6); text-decoration: none; -webkit-transition: .2s; transition: .2s; }

.student-control--label a.ofb-c-label:hover:before { border-color: transparent #aaa transparent transparent; border-color: transparent rgba(113, 113, 113, 0.6) transparent transparent; -webkit-transition: .2s; transition: .2s; }

.student-control--label a.ofb-c-label:hover.cursor-default { background-color: #717171; }

.student-control--label a.ofb-c-label:hover.cursor-default:before { border-color: transparent #717171 transparent transparent; }

[id^="label"] + .ofb-c-label__active { background-color: #f9b1a1; background-color: rgba(240, 59, 20, 0.4); color: #791e0a; }

[id^="label"] + .ofb-c-label__active:before { border-color: transparent #f9b1a1 transparent transparent; border-color: transparent rgba(240, 59, 20, 0.4) transparent transparent; }

[id^="label"] + .ofb-c-label__active:hover { background-color: #f68972; background-color: rgba(240, 59, 20, 0.6); }

[id^="label"] + .ofb-c-label__active:hover:before, .student-control--label .ofb-c-label__active:before, .student-control--label.ofb-c-label__active:before { border-color: transparent #f68972 transparent transparent; }

[id^="label"]:checked + label.ofb-c-label__active:before, .student-control--label .ofb-c-label__active:before, .student-control--label.ofb-c-label__active:before { border-color: transparent #f03b14 transparent transparent; }

.student-control--label .ofb-c-label__active, .student-control--label.ofb-c-label__active { background-color: #f03b14; }

[id^="label"]:checked + label.ofb-c-label__active, .student-control--label .ofb-c-label__active, .student-control--label.ofb-c-label__active { background-color: #f03b14; }

.student-control--label a.ofb-c-label__active:hover { background-color: #f68972; background-color: rgba(240, 59, 20, 0.6); }

.student-control--label a.ofb-c-label__active:hover:before { border-color: transparent #f68972 transparent transparent; border-color: transparent rgba(240, 59, 20, 0.6) transparent transparent; }

.student-control--label a.ofb-c-label__active:hover.cursor-default { background-color: #f03b14; }

.student-control--label a.ofb-c-label__active:hover.cursor-default:before { border-color: transparent #f03b14 transparent transparent; }

[id^="label"] + .ofb-c-label__passive { background-color: #adc1dc; background-color: rgba(49, 99, 168, 0.4); color: #0d305f; }

[id^="label"] + .ofb-c-label__passive:before { border-color: transparent #adc1dc transparent transparent; border-color: transparent rgba(49, 99, 168, 0.4) transparent transparent; }

[id^="label"] + .ofb-c-label__passive:hover { background-color: #83a1cb; background-color: rgba(49, 99, 168, 0.6); }

[id^="label"] + .ofb-c-label__passive:hover:before { border-color: transparent #83a1cb transparent transparent; border-color: transparent rgba(49, 99, 168, 0.6) transparent transparent; }

[id^="label"]:checked + label.ofb-c-label__passive:before, .student-control--label .ofb-c-label__passive:before, .student-control--label.ofb-c-label__passive:before { border-color: transparent #3163a8 transparent transparent; border-color: transparent #3163a8 transparent transparent; }

[id^="label"]:checked + label.ofb-c-label__passive, .student-control--label .ofb-c-label__passive, .student-control--label.ofb-c-label__passive { background-color: #3163a8; background-color: #3163a8; }

.student-control--label a.ofb-c-label__passive:hover { background-color: #83a1cb; background-color: rgba(49, 99, 168, 0.6); }

.student-control--label a.ofb-c-label__passive:hover:before { border-color: transparent #83a1cb transparent transparent; border-color: transparent rgba(49, 99, 168, 0.6) transparent transparent; }

.student-control--label a.ofb-c-label__passive:hover.cursor-default { background-color: #3163a8; }

.student-control--label a.ofb-c-label__passive:hover.cursor-default:before { border-color: transparent #3163a8 transparent transparent; }

.ofb-badge { padding: 2px 7px; margin-left: 5px; border-radius: 10rem; background-color: #717171; font-size: 10px; color: #fff; }

.ofb-badge--alert { background-color: #CA2929; }

.ofb-badge--upper-right { position: relative; }

.ofb-badge--upper-right .ofb-badge--alert { position: absolute; top: -10px; right: -10px; }

.badge { background: transparent; color: #888; text-shadow: none; }

.badge-content { padding: 20px 20px 30px; background-color: #fff; box-sizing: border-box; border: 1px solid #D5D5D5; }

.badge-title { font-weight: normal; }

.badge-goal { color: #333; }

/* admin */
.admin-header .badge-content { width: 100%; padding: 10px; box-sizing: border-box; border: none; color: #888; }

.admin-header .badge-title { width: 110px; float: left; clear: left; }

.admin-header .badge-goal { margin-left: 120px; }

/*企業ヘッダーメニュー上*/
.badge__companyhead { display: inline-block; min-width: 4px; min-height: 4px; padding: 4px 4px; background-color: #CA2929; border-radius: 50%; position: absolute; top: 2px; right: 13px; }

.ofb-btn--no-drop { cursor: no-drop !important; }

.ofb-btn.disabled { opacity: .65; cursor: default; }

.ofb-btn.disabled:hover, .ofb-btn.disabled:active { background-color: #F1F1F1 !important; cursor: default; }

.ofb-btn--disabled { cursor: default; }

.ofb-btn--disabled:hover, .ofb-btn--disabled:active { background-color: #F1F1F1 !important; cursor: default; }

.ofb-btn-dropdown--disabled, .ofb-btn-dropdown--disabled + button { border-color: #e5e5e5; border-color: rgba(0, 0, 0, 0.1); }

.ofb-btn-dropdown--disabled:hover, .ofb-btn-dropdown--disabled:active, .ofb-btn-dropdown--disabled + button:hover, .ofb-btn-dropdown--disabled + button:active { background-color: #F1F1F1; cursor: not-allowed !important; }

.ofb-btn-dropdown--disabled + button:hover .caret, .ofb-btn-dropdown--disabled + button:active .caret { opacity: .3 !important; }

.ofb-btn--alert { position: relative; }

.ofb-btn--alert .label { position: absolute; padding: 3px 6px; top: -10px; right: -10px; border-radius: 10px; }

.ofb-btn.w100 { width: 100% !important; box-sizing: border-box !important; }

.ofb-btn.banner__btn__w100 { width: 100% !important; box-sizing: border-box !important; }

.ofb-btn--favorite.disabled { background-color: #CA7129; opacity: 0.65; cursor: default; }

.ofb-btn--offer.disabled { background-color: #CA2929; opacity: 0.65; cursor: default; }

.ofb-fa--ok { color: #20c028; }

.ofb-fa--ng { color: #ccc; }

.txtcolor--gray { color: #666; }

.strong { font-weight: bold; }

[class^="cont-attend"] { padding: 20px; border: 1px solid #D5D5D5; border-left-width: 5px; background-color: #fff; }

.cont-attend--success { border-left-color: #A4D6E0 !important; }

.cont-attend--warning { border-left-color: #F2DAB7 !important; }

.cont-attend--error { border-color: #e4a9a9 !important; }

.cont-attend--notice { border-left-color: #e4a9a9 !important; }

/* ノウハウポップアップ */
.cont-attend.c-design { border-left-width: 1px; }

.c-design--body { display: table; width: 100%; }

.c-design--body [class^="c-design__"] { display: table-cell; vertical-align: middle; }

.c-design__icon { width: 24.999%; }

.c-design__text { width: 74.999%; }

.c-design__icon img { width: 80%; }

.c-design__border img { border: 1px solid #D5D5D5; }

.c-design__border--bottom { border-bottom: 1px solid #d5d5d5; }

.ofbicon-linearrow { color: #449835; }

.table-define .ofbicon-linearrow { font-size: 13px; margin-left: 7px; position: relative; bottom: 9px; }

/* コンテンツにアイコンを右上固定 */
.cont-fixed-icon { position: relative; height: auto; padding-right: 40px; }

[class^="fixed-icon__"] { position: absolute; right: 10px; top: 5px; cursor: pointer; }

/* student-list --------------------------------------- */
/* 通常バージョン */
.ofb-slist__elm { padding: 0; margin-bottom: 20px; background-color: #FFF; overflow: hidden; zoom: 1; position: relative; border: 1px solid #ddd; font-size: 14px; line-height: 1; }

.ofb-sinfo__wrap { width: 100%; padding: 15px; box-sizing: border-box; }

.ofb-sinfo__wrap-left { width: 130px; float: left; }

.ofb-sinfo__wrap-right { width: 520px; float: right; }

.ofb-sinfo__control .memo { padding-bottom: 10px; padding-left: 15px; margin-bottom: 30px; text-align: left; border-bottom: 1px dotted #ddd; }

[class*="ofb-sinfo__control_"] li { display: inline-block; }

.ofb-sinfo__control_scount li { width: 220px; position: relative; }

[class*="ofb-sinfo__control_"] li:first-child { margin-right: 20px; }

.ofb-sinfo__control-ttl { padding-right: 10px; font-size: 13px; }

.ofb-sinfo__control-value { font-size: 26px; }

.ofb-sinfo__control-denom { font-size: 15px; }

.ofb-sinfo__college-name { font-size: 14px; font-weight: bold; line-height: 1; }

.ofb-sinfo__name, .ofb-sinfo__college-name__waiting { font-size: 18px; font-weight: bold; }

.ofb-sinfo__college-name__waiting { line-height: 1.4; }

.ofb-sinfo__pref { font-weight: normal; line-height: 1; }

.ofb-sinfo__offerdate { display: inline-block; }

.ofb-sinfo__college-name a, .ofb-sinfo__name a { color: #333; }

/* 学生ステータス表示（写真） */
.ofb-sinfo__pause .student-info--photo { position: relative; }

.ofb-sinfo__pause .u-jobseekst--pause { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.25); }

.ofb-sinfo__pause .u-jobseekst--pause-label { margin: auto; position: absolute; bottom: 0; left: 0; width: 100%; height: 50%; color: #fff; }

.ofb-sinfo__reject { padding: 5px 15px; width: 100%; box-sizing: border-box; background-color: #5c5c5c; background-color: rgba(51, 51, 51, 0.8); color: #fff; line-height: 20px; }

/* 右上固定アコーディオン */
.navigation-accordion { position: absolute; top: 10px; right: 10px; list-style-type: none; z-index: 1; }

.navigation-accordion li > a { color: #888; }

.navigation-accordion a:hover, .navigation-accordion a:active { text-decoration: none; }

.navigation-accordion ul { list-style-type: none; }

.navigation-accordion--panel { position: absolute; min-width: 160px; top: 100%; right: 0; float: left; padding: 5px 10px; margin: 1px 0 0; background-color: #fff; border: 1px solid #f1f1f1; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); box-sizing: border-box; }

.navigation-accordion--panel li { padding: 5px 0; border-bottom: 1px solid #ccc; }

.navigation-accordion--panel li:last-child { border-bottom: none; }

.navigation-accordion--panel a { display: block; padding: 3px 15px; color: #333 !important; white-space: nowrap; }

.navigation-accordion--panel a:hover, .navigation-accordion--panel a:active { text-decoration: underline !important; cursor: pointer; }

/* 会いたいstyle --------------------------------------- */
.ofb-sinfo { position: relative; height: auto; }

.ofb-sinfo .label-triangle { font-size: 12px; padding: 70px 0px 3px; position: absolute; left: -60px; top: -40px; z-index: 1000; text-align: center; width: 120px; font-weight: bold; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }

.label-want { background-color: rgba(255, 153, 0, 0.8); color: #FFF; }

/* 検索部分新規スタイル（label検索など） --------------------------------------- */
.c-search__wrap { padding: 10px; background-color: #fff; }

.c-search__ttl { display: inline !important; padding-left: 5px; border-left: 6px solid #333; }

select.w-short { width: 90px; }

/* page title ------------------------------------------ */
.ofb-page_ttl { margin: 0 0 20px; font-size: 24px; }

.ofb-page_ttl + p { margin: 0 0 20px; }

/* sub industry ------------------------------------------ */
.ofb-form-subtitle { position: absolute; left: 0; text-align: right; width: 25%; font-size: 12px; margin-top: 4px; }

.ofb-form-subtitle .ofb-label--small { font-size: 11px; padding: 0 3px; }

/* end sub industry ------------------------------------------ */
/* beltstyle ------------------------------------------ */
.success-belt, .error-belt { position: fixed; top: 25%; left: 0; width: 100%; z-index: 1000; text-align: center; font-weight: bold; color: #FFF; padding: 10px 0; }

.success-belt { background: #4fa9b8; background: rgba(79, 169, 184, 0.9); }

.error-belt { background: #e15454; background: rgba(225, 84, 84, 0.9); }

.error-belt li { list-style: none; }

.alertPop, .alertDanger { display: none; }

.navigation-accordion { position: absolute; top: 10px; right: 10px; list-style-type: none; }

.navigation-accordion li > a { color: #888; }

.navigation-accordion a:hover, .navigation-accordion a:active { text-decoration: none; }

.navigation-accordion ul { list-style-type: none; }

.navigation-accordion--panel { position: absolute; min-width: 160px; top: 100%; right: 0; float: left; padding: 5px 10px; margin: 1px 0 0; background-color: #fff; border: 1px solid #f1f1f1; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); box-sizing: border-box; }

.navigation-accordion--panel li { padding: 5px 0; border-bottom: 1px solid #ccc; }

.navigation-accordion--panel li:last-child { border-bottom: none; }

.navigation-accordion--panel a { display: block; padding: 3px 15px; color: #333 !important; white-space: nowrap; }

.navigation-accordion--panel a:hover, .navigation-accordion--panel a:active { text-decoration: underline !important; cursor: pointer; }

/* !02: widget --------------------------------------- */
.c-ofb__ttl { padding-left: 10px; border-left: 6px solid #333; }

.c-header { /*border: 1px solid $border-color; border-bottom: none; -webkit-background-clip: padding-box;*/ }

.c-header h3 { font-size: 18px; }

.inline-part-l { float: left; display: inline-block; }

.inline-part-r { float: right; display: inline-block; }

.c-content { background: #FFF; border: 1px solid #D5D5D5; padding: 10px; -webkit-background-clip: padding-box; }

.c-account { padding: 10px; border: 1px solid #D5D5D5; border-radius: 4px; }

.c-account-gray { background-color: #fafafa; }

.c-account p:last-child { margin-bottom: 0; }

.c-cancel { background-color: #f1f1f1 !important; }

.widget-content__list { margin: 0; list-style-position: inside; }

.widget-content__list li { padding: 10px; border-bottom: 1px dotted #ddd; }

.widget-content__list_table { display: table; width: 100%; }

.widget-content__list_table:first-child { padding-top: 0; }

.widget-content__list_table-cell { display: table-cell; vertical-align: middle; }

.widget-content__list_date { width: 100px; }

.widget-content__list_ttl { width: 568px; }

.widget-content__list--hide { list-style-type: none; }

.widget-content__list--hide li { padding: 10px 0; }

.widget-content__list--hide li:first-child { padding-top: 0; }

.widget-fotter__nav { list-style-type: none; margin: 10px 0; }

.widget-fotter__nav li { display: inline-block; width: 48.999%; }

.widget-fotter__nav .next { float: right; text-align: right; }

.c-main__nav { margin-left: 0; list-style-type: none; border: 1px solid #bfbfbf; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 6px; background-color: #f1f1f1; }

.c-main__nav-item { box-sizing: border-box; border-right: 1px solid rgba(0, 0, 0, 0.25); text-align: center; }

.c-main__nav-item:last-child { border-right: none; }

.c-main__nav-item a { padding: 7px 0; display: block; font-size: 14px; color: #333; }

.c-main__nav-item:first-child a, .c-main__nav-item:first-child p { border-radius: 6px 0 0 6px; }

.c-main__nav-item:last-child a, .c-main__nav-item:last-child p { border-radius: 0 6px 6px 0; }

.c-main__nav-item a:hover, .c-main__nav-item a:active { background-color: #fafafa; text-decoration: none; }

.c-main__nav-item .active { background-color: #004170; color: #fff; }

.c-main__nav-item .active:hover, .c-main__nav-item .active:active { background-color: #004170; }

.c-main__nav-item p { margin: 0; padding: 7px 0; display: block; font-size: 14px; color: #999; background: #FAFAFA; }

/*--ナビ内ドロップダウン--*/
.c-main__nav-item-dropdown { position: relative; }

.c-main__nav-item-dropdown .dropdown-menu { width: 170px; }

.c-main__nav-item-dropdown .caret, .c-main__nav-item-dropdown.open .caret { margin-top: 6px; }

.c-main__nav-item-dropdown .active .caret, .c-main__nav-item-dropdown.open .active .caret { border-top: 4px solid #ffffff; }

.c-main__nav-item-dropdown .dropdown-menu a { white-space: normal; text-align: left; padding: 10px; cursor: pointer; }

.c-main__nav-item-dropdown .dropdown-menu:before, .c-main__nav-item-dropdown .dropdown-menu:after { content: ''; display: none; }

/*----*/
.nav-justified { display: table; table-layout: fixed; width: 100%; }

.navbar .nav-justified > li { display: table-cell; width: 100%; }

/* !03: タブ --------------------------------------- */
.ofb-tabs { margin-bottom: 0; }

.ofb-tabs .active a, .ofb-tabs .active a:hover, .ofb-tabs .active a:active { background-color: #fff; }

.ofb-tab--content { margin-bottom: 40px; background-color: #fff; border: 1px solid #ddd; border-top: none; }

.ofb-tab__sub { display: inline-block; width: auto; padding: 7px 12px; margin-top: -1px; background-color: #fff; border: 1px solid #D5D5D5; border-top: none; border-radius: 0 0 4px 4px; cursor: pointer; }

.ofb-tab__sub-xs { font-size: 10px; border-radius: 0 0 3px 3px; line-height: 10px; }

/* !04: 汎用 --------------------------------------- */
.u-lineh10 { line-height: 1; }

.u-lineh14 { line-height: 1.4%; }

.u-lineh16 { line-height: 1.6; }

.u-lineh18 { line-height: 1.8; }

.u-lineh20 { line-height: 2; }

.u-lineh22 { line-height: 2.2; }

.u-lineh24 { line-height: 2.4; }

.u-lineh26 { line-height: 2.6; }

.u-lineh28 { line-height: 2.8; }

.m-inline-block { display: inline-block; }

.m-col__gray { color: #ccc; }

hr.m-col__gray { border-top-color: #D5D5D5; border-bottom-color: #f1f1f1; }

.u-btn--editor { text-align: right !important; }

.u-marker { background-color: #fff179; background: linear-gradient(transparent 60%, #fff179 60%); }

/* 学生ステータス（退会） */
.u-phase--leave { padding: 15px; background-color: #fff; }

.u-phase--leave .student-info--photo { width: 80px; }

.u-phase--leave .student-info--content { width: auto !important; }

.u-overlay:before { content: ""; z-index: 9999; background-color: #fff; }

.u-btn--editor { text-align: right !important; }

/* 学生ステータス（退会以外のNGステータス） */
.u-phase--ng { background-color: #fff; }

.style-none { border: none; list-style-type: none; }

.new-arrivals { color: #CA2929; }

/* !form --------------------------------------- */
.ofb-form__text-m { padding: 5px !important; }

.ofb-form__text-m + input { padding-top: 5px; padding-bottom: 5px; }

/* !会いたい --------------------------------------- */
[class$="student-info"] { position: relative; height: auto; overflow: hidden; }

[class$="student-info"] .label-triangle { font-size: 12px; padding: 70px 0px 3px; position: absolute; left: -60px; top: -40px; text-align: center; width: 120px; font-weight: bold; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }

.label-want { background-color: #ffad33; background-color: rgba(255, 153, 0, 0.8); color: #FFF; }

/**/
/*テーブルの固定ヘッダー*/
table .header-fixed { position: fixed; top: 0; z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */ border-bottom: 1px solid #D5D5D5; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */ }

.c-table__eventinfo { margin: 0; padding: 0; width: 100%; border-collapse: separate; border-spacing: 2px; }

.c-table__eventinfo-title, .c-table__eventinfo-contents { padding: 10px; }

.c-table__eventinfo-title { width: 20%; background-color: #f1f1f1; }

/* OfferBox計画表など共通table */
.c-table { margin: 10px 0 20px; background-color: #fff; border: 1px solid #e5e5e5; }

.c-table thead, .c-table .cmn-head { background-color: #e7e7e7; }

.c-table td { vertical-align: middle; }

.c-table .centered { text-align: center; }

.c-table .txtright { text-align: right; }

.c-table--bordered th, .c-table--bordered td { border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; }

.c-table--bordered th:last-child, .c-table--bordered td:last-child { border-right: none; }

.c-table__edit p { margin-bottom: 0; }

.c-table__count { width: 16%; }

.c-table__edit { width: 10%; }

.c-table__no { width: 15%; }

.c-table__name { width: 65%; }

.c-table__date { width: 20%; }

.c-table-w100 { width: 100%; }

.c-table-w90 { width: 90%; }

.c-table-w80 { width: 80%; }

.c-table-w70 { width: 70%; }

.c-table-w60 { width: 60%; }

.c-table-w50 { width: 50%; }

.c-table-w40 { width: 40%; }

.c-table-w30 { width: 30%; }

.c-table-w20 { width: 20%; }

.c-table-w15 { width: 15%; }

.c-table-w10 { width: 10%; }

.c-table-w5 { width: 5%; }

.c-table .input-rate { width: 60%; margin-bottom: 0; vertical-align: bottom; }

.c-table .input-key { border-width: 3px; border-color: #aaa; }

.c-table-break-all { word-break: break-all; }

.c-table--admin { margin-top: 0; }

.input-w90 { width: 90%; }

.input-w80 { width: 80%; }

.input-w60 { width: 60%; }

.input-w40 { width: 40%; }

.input-w20 { width: 20%; }

.span12 { width: 960px !important; }

.span11#main { margin: 0 auto; float: none; }

.ofb-widget { margin-bottom: 20px; border: 1px solid #ddd; }

.ofb-widget__header { padding: 10px 15px; height: auto; background-color: #E7E7E7; border-bottom: 1px solid #ddd; text-shadow: none; }

.ofb-widget__header-ttl { color: #333; font-size: 14px; line-height: 1.4; }

.ofb-widget__content { padding: 15px 15px 12px 15px; background-color: #fff; }

.ofb-widget__content p.txtright a { font-size: 12px; }

.ofb-widget-content--rd { overflow: hidden; margin-bottom: 2em; padding: 15px; background: #FFF; border-radius: 5px; border: 1px solid #dcdcdc; }

.widget-content--nb { border: none; padding: 15px; }

.ofb-legend { line-height: 18px; border-bottom: none; }

.ofb-form-group--inline .ofb-form-group--inline-label { display: inline-block; padding: 5px; }

.ofb-form-group--inline2 .ofb-form-group--inline-label:nth-child(odd) { width: 49.999%; float: left; }

.ofb-form-group--inline2 .ofb-form-group--inline-label:nth-child(even) { width: 49.999%; float: right; }

/* error */
.form-group.error .ofb-legend { color: #cc0000 !important; }

.error .ofb-form-group .ofb-form-group--inline-label { border-radius: 3px; border: 1px solid #cc0000; }

.txt-caution { color: #cc0000; }

/* nps */
.nps_point__wrap dl + dl { padding-top: 30px; margin-right: -40px; }

.nps_point__text { margin: 0 auto; }

.nps_point__text, .nps_point__text dd { line-height: 1; font-size: 20px; }

.nps_point__text dd { text-align: center; padding: 10px 20px; margin: 0; }

.nps_point__text dd .text { position: relative; z-index: 1; width: 160px; height: 160px; background: #fff; border-radius: 50%; display: table-cell; vertical-align: middle; text-align: center; }

.nps_point__text dt { line-height: 1; margin-top: 0; }

.nps_point__text dd span { font-size: 53px; }

.nps_point__day { font-size: 13px; margin: 0; }

.nps_point__day dt { margin-bottom: 5px; }

.nps_point__wrap dd { margin: 0; }

#nps > svg { padding-right: 20px; }

.table-current { background: #2863A8; font-size: 11px; color: #FFF; text-align: center; font-weight: normal; display: block; padding: 1px 5px; margin-top: 5px; }

#nps_now .c3-chart-arc text { display: none; }

#nps_now .c3-legend-item { display: none; }

#nps .c3-tooltip tbody { display: flex; flex-flow: column; }

#nps tr { order: 1; }

#nps tr:first-child th { width: 100%; box-sizing: border-box; display: block; }

#nps tr.c3-tooltip-name--批判 { order: 3; }

#nps tr.c3-tooltip-name--推奨 { order: 1; }

#nps tr.c3-tooltip-name--中立 { order: 2; }

.nps_point__wrap .c3_wrap { position: absolute; left: 5px; top: 44px; }

.phase__icon-step:after { position: absolute; content: ''; width: 60px; border: 14px solid transparent; border-left-color: #e6e6e6; top: -0.1em; margin-left: 20px; }

.phase__icon-step { position: relative; margin-right: 30px; }

.td-width-25 { width: 25%; }

.td-break-all { word-break: break-all; }

.min-width-135 { min-width: 135px; }

.phase__icon-step:after { position: absolute; content: ''; width: 60px; border: 14px solid transparent; border-left-color: #e6e6e6; top: -0.1em; margin-left: 20px; }

.phase__icon-step { position: relative; margin-right: 30px; }

.status-btn { position: relative; overflow: visible; }

.status-btn.new:after { position: absolute; top: -4px; right: -4px; content: " "; background: #ff0000; width: 12px; height: 12px; border-radius: 30px; }

/* admin代理店画面 */
.list__w12b { width: calc(100% / 12); }

.list__kdistributor { table-layout: fixed; }

.list__kdistributor tr th, .list__kdistributor tr td { vertical-align: middle; box-sizing: border-box; word-wrap: break-word; }

.list__kdistributor tr th:first-of-type { width: 75px; }

.list__kdistributor tr td:first-of-type { width: 75px; }

.list__kdistributor tr td:nth-of-type(5) { height: 62px; }

.list__kdistributor thead th { padding: 5px 0px; text-align: center; }

.list__kdistributor tr td { padding: 5px; border-bottom: solid 1px #e5e5e5; }

.list__kdistributor .name__kdistributor { width: 19%; }

.list__kdistributor .name__person { width: 100px; }

.list__kdistributor .admin-btn__kdistributor { width: 160px; }

.list__kdistributor .list__check { width: 175px; }

.list__kdistributor .block__status { display: flex; }

.list__kdistributor .block__status div { width: 50%; padding: 5px; }

.list__kdistributor .block__status div:first-child { padding-right: 2px; }

.list__kdistributor .block__status div:last-child { padding-left: 2px; }

.list__kdistributor .list__type { width: 100px; }

.list__kdistributor .btn__login { border: none; font-size: 13px; cursor: pointer; margin-left: 3px; }

.box__ef1G-tag { float: right; margin-top: 10px; }

.ef1g_result__wrapper .box__ef1G-tag { display: flex; margin-bottom: 20px; }

[class^="ef1G_score_"] { height: 25px; width: 25px; text-align: center; line-height: 25px; background: #003B78; color: #ffffff; margin-left: 5px; display: flex; justify-content: center; align-items: center; }

[class^="ef1Glabel_"] { display: flex; min-width: 135px; max-width: 200px; height: 35px; padding: 5px; margin-left: 10px; background: #F8A797; color: #000000; font-size: 12px; text-align: left; line-height: 1.3; justify-content: space-between; align-items: center; box-sizing: border-box; font-feature-settings: "palt"; }

.ef1g-wrap.animaltype [class^="ef1Glabel_"] { margin-left: 5px; }

.ef1g_result__wrapper [class^="ef1Glabel_"] { height: 33px; margin-top: -10px; }

[class^="ef1Gscore_"] { height: 30px; width: 30px; background: #D44E35; color: #ffffff; display: flex; justify-content: center; align-items: center; margin-left: 12px; }

.ef1G_score_katuyaku { background: #D44E35; color: #ffffff; }

.ef1Glabel_high { background: #CFDBEA; color: #000000; }

.ef1Glabel_original { background: #E9CAB7; color: #000000; }

.ef1G_score_original { background: #E86E23; color: #ffffff; }

.score { font-weight: lighter; }

/* CSVダウンロード制限 */
.disabled-csv-download-wrapper { display: inline-block; }

.disabled-csv-download { pointer-events: none; opacity: 0.65; }
