/*
##iconfont
*/
@font-face {
	font-family: "offerbox";
	src: url('../font/offerbox.eot?date=2022621');
	src: url('../font/offerbox.eot?#iefix&date=2022621') format('eot'),
		url('../font/offerbox.woff?date=2022621') format('woff'),
		url('../font/offerbox.ttf?date=2022621') format('truetype'),
		url('../font/offerbox.svg#offerbox&date=2022621') format('svg');
		font-weight: normal;
	    font-style: normal;
}


[class^="ofbicon-"], [class*=" ofbicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;
    font-family: 'offerbox' !important;
	speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	/*font-size: 1.3rem;*/
	/*vertical-align: top;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*[class^="ofbicon-"].rem1_4,[class*=" ofbicon-"].rem1_4 {
    font-size: 1.4rem
}

[class^="ofbicon-"].rem2,[class*=" ofbicon-"].rem2 {
    font-size: 2rem
}

[class^="ofbicon-"].rem2_5,[class*=" ofbicon-"].rem2_5 {
    font-size: 2.5rem
}*/

[class^="ofbicon-"]::before,[class*=" ofbicon-"]::before {
    vertical-align: top
}
.ofbicon-1_4x {
  font-size: 1.4em;
}
.ofbicon-2x {
  font-size: 2em;
}
.ofbicon-2_5x {
  font-size: 2.5em;
}
.ofbicon-3x {
  font-size: 3em;
}
.ofbicon-4x {
  font-size: 4em;
}
.ofbicon-5x {
  font-size: 5em;
}
.ofbicon-rotate-90 {
  transform: rotate(90deg);
}
.ofbicon-rotate-180 {
  transform: rotate(180deg);
}
.ofbicon-rotate-270 {
  transform: rotate(270deg);
}
.ofbicon-fw {
  width: 1.28571429em;
  text-align: center;
}

/*
###360
	<span class="ofbicon-360"></span>
	<span class="ofbicon-360 ofbicon-2x"></span>
	<span class="ofbicon-360 ofbicon-3x"></span>
	<span class="ofbicon-360 ofbicon-4x"></span>
	<span class="ofbicon-360 ofbicon-5x"></span>
*/
.ofbicon-360:before {
	content: "\EA01";
}

/*
###advance
	<span class="ofbicon-advance"></span>
	<span class="ofbicon-advance ofbicon-2x"></span>
	<span class="ofbicon-advance ofbicon-3x"></span>
	<span class="ofbicon-advance ofbicon-4x"></span>
	<span class="ofbicon-advance ofbicon-5x"></span>
*/
.ofbicon-advance:before {
	content: "\EA02";
}

/*
###airplane
	<span class="ofbicon-airplane"></span>
	<span class="ofbicon-airplane ofbicon-2x"></span>
	<span class="ofbicon-airplane ofbicon-3x"></span>
	<span class="ofbicon-airplane ofbicon-4x"></span>
	<span class="ofbicon-airplane ofbicon-5x"></span>
*/
.ofbicon-airplane:before {
	content: "\EA03";
}

/*
###approach
	<span class="ofbicon-approach"></span>
	<span class="ofbicon-approach ofbicon-2x"></span>
	<span class="ofbicon-approach ofbicon-3x"></span>
	<span class="ofbicon-approach ofbicon-4x"></span>
	<span class="ofbicon-approach ofbicon-5x"></span>
*/
.ofbicon-approach:before {
	content: "\EA04";
}

/*
###aptitude
	<span class="ofbicon-aptitude"></span>
	<span class="ofbicon-aptitude ofbicon-2x"></span>
	<span class="ofbicon-aptitude ofbicon-3x"></span>
	<span class="ofbicon-aptitude ofbicon-4x"></span>
	<span class="ofbicon-aptitude ofbicon-5x"></span>
*/
.ofbicon-aptitude:before {
	content: "\EA05";
}

/*
###arrow
	<span class="ofbicon-arrow"></span>
	<span class="ofbicon-arrow ofbicon-2x"></span>
	<span class="ofbicon-arrow ofbicon-3x"></span>
	<span class="ofbicon-arrow ofbicon-4x"></span>
	<span class="ofbicon-arrow ofbicon-5x"></span>
*/
.ofbicon-arrow:before {
	content: "\EA06";
}

/*
###athlete
	<span class="ofbicon-athlete"></span>
	<span class="ofbicon-athlete ofbicon-2x"></span>
	<span class="ofbicon-athlete ofbicon-3x"></span>
	<span class="ofbicon-athlete ofbicon-4x"></span>
	<span class="ofbicon-athlete ofbicon-5x"></span>
*/
.ofbicon-athlete:before {
	content: "\EA07";
}

/*
###badge
	<span class="ofbicon-badge"></span>
	<span class="ofbicon-badge ofbicon-2x"></span>
	<span class="ofbicon-badge ofbicon-3x"></span>
	<span class="ofbicon-badge ofbicon-4x"></span>
	<span class="ofbicon-badge ofbicon-5x"></span>
*/
.ofbicon-badge:before {
	content: "\EA08";
}

/*
###bell
	<span class="ofbicon-bell"></span>
	<span class="ofbicon-bell ofbicon-2x"></span>
	<span class="ofbicon-bell ofbicon-3x"></span>
	<span class="ofbicon-bell ofbicon-4x"></span>
	<span class="ofbicon-bell ofbicon-5x"></span>
*/
.ofbicon-bell:before {
	content: "\EA09";
}

/*
###building
	<span class="ofbicon-building"></span>
	<span class="ofbicon-building ofbicon-2x"></span>
	<span class="ofbicon-building ofbicon-3x"></span>
	<span class="ofbicon-building ofbicon-4x"></span>
	<span class="ofbicon-building ofbicon-5x"></span>
*/
.ofbicon-building:before {
	content: "\EA0A";
}

/*
###cal
	<span class="ofbicon-cal"></span>
	<span class="ofbicon-cal ofbicon-2x"></span>
	<span class="ofbicon-cal ofbicon-3x"></span>
	<span class="ofbicon-cal ofbicon-4x"></span>
	<span class="ofbicon-cal ofbicon-5x"></span>
*/
.ofbicon-cal:before {
	content: "\EA0B";
}

/*
###check
	<span class="ofbicon-check"></span>
	<span class="ofbicon-check ofbicon-2x"></span>
	<span class="ofbicon-check ofbicon-3x"></span>
	<span class="ofbicon-check ofbicon-4x"></span>
	<span class="ofbicon-check ofbicon-5x"></span>
*/
.ofbicon-check:before {
	content: "\EA0C";
}

/*
###circle
	<span class="ofbicon-circle"></span>
	<span class="ofbicon-circle ofbicon-2x"></span>
	<span class="ofbicon-circle ofbicon-3x"></span>
	<span class="ofbicon-circle ofbicon-4x"></span>
	<span class="ofbicon-circle ofbicon-5x"></span>
*/
.ofbicon-circle:before {
	content: "\EA0D";
}

/*
###close
	<span class="ofbicon-close"></span>
	<span class="ofbicon-close ofbicon-2x"></span>
	<span class="ofbicon-close ofbicon-3x"></span>
	<span class="ofbicon-close ofbicon-4x"></span>
	<span class="ofbicon-close ofbicon-5x"></span>
*/
.ofbicon-close:before {
	content: "\EA0E";
}

/*
###column
	<span class="ofbicon-column"></span>
	<span class="ofbicon-column ofbicon-2x"></span>
	<span class="ofbicon-column ofbicon-3x"></span>
	<span class="ofbicon-column ofbicon-4x"></span>
	<span class="ofbicon-column ofbicon-5x"></span>
*/
.ofbicon-column:before {
	content: "\EA0F";
}

/*
###communication
	<span class="ofbicon-communication"></span>
	<span class="ofbicon-communication ofbicon-2x"></span>
	<span class="ofbicon-communication ofbicon-3x"></span>
	<span class="ofbicon-communication ofbicon-4x"></span>
	<span class="ofbicon-communication ofbicon-5x"></span>
*/
.ofbicon-communication:before {
	content: "\EA10";
}

/*
###config
	<span class="ofbicon-config"></span>
	<span class="ofbicon-config ofbicon-2x"></span>
	<span class="ofbicon-config ofbicon-3x"></span>
	<span class="ofbicon-config ofbicon-4x"></span>
	<span class="ofbicon-config ofbicon-5x"></span>
*/
.ofbicon-config:before {
	content: "\EA11";
}

/*
###contact
	<span class="ofbicon-contact"></span>
	<span class="ofbicon-contact ofbicon-2x"></span>
	<span class="ofbicon-contact ofbicon-3x"></span>
	<span class="ofbicon-contact ofbicon-4x"></span>
	<span class="ofbicon-contact ofbicon-5x"></span>
*/
.ofbicon-contact:before {
	content: "\EA12";
}

/*
###display
	<span class="ofbicon-display"></span>
	<span class="ofbicon-display ofbicon-2x"></span>
	<span class="ofbicon-display ofbicon-3x"></span>
	<span class="ofbicon-display ofbicon-4x"></span>
	<span class="ofbicon-display ofbicon-5x"></span>
*/
.ofbicon-display:before {
	content: "\EA13";
}

/*
###do
	<span class="ofbicon-do"></span>
	<span class="ofbicon-do ofbicon-2x"></span>
	<span class="ofbicon-do ofbicon-3x"></span>
	<span class="ofbicon-do ofbicon-4x"></span>
	<span class="ofbicon-do ofbicon-5x"></span>
*/
.ofbicon-do:before {
	content: "\EA14";
}

/*
###download
	<span class="ofbicon-download"></span>
	<span class="ofbicon-download ofbicon-2x"></span>
	<span class="ofbicon-download ofbicon-3x"></span>
	<span class="ofbicon-download ofbicon-4x"></span>
	<span class="ofbicon-download ofbicon-5x"></span>
*/
.ofbicon-download:before {
	content: "\EA15";
}

/*
###dush
	<span class="ofbicon-dush"></span>
	<span class="ofbicon-dush ofbicon-2x"></span>
	<span class="ofbicon-dush ofbicon-3x"></span>
	<span class="ofbicon-dush ofbicon-4x"></span>
	<span class="ofbicon-dush ofbicon-5x"></span>
*/
.ofbicon-dush:before {
	content: "\EA16";
}

/*
###educational
	<span class="ofbicon-educational"></span>
	<span class="ofbicon-educational ofbicon-2x"></span>
	<span class="ofbicon-educational ofbicon-3x"></span>
	<span class="ofbicon-educational ofbicon-4x"></span>
	<span class="ofbicon-educational ofbicon-5x"></span>
*/
.ofbicon-educational:before {
	content: "\EA17";
}

/*
###exclamation
	<span class="ofbicon-exclamation"></span>
	<span class="ofbicon-exclamation ofbicon-2x"></span>
	<span class="ofbicon-exclamation ofbicon-3x"></span>
	<span class="ofbicon-exclamation ofbicon-4x"></span>
	<span class="ofbicon-exclamation ofbicon-5x"></span>
*/
.ofbicon-exclamation:before {
	content: "\EA18";
}

/*
###first
	<span class="ofbicon-first"></span>
	<span class="ofbicon-first ofbicon-2x"></span>
	<span class="ofbicon-first ofbicon-3x"></span>
	<span class="ofbicon-first ofbicon-4x"></span>
	<span class="ofbicon-first ofbicon-5x"></span>
*/
.ofbicon-first:before {
	content: "\EA19";
}

/*
###gear
	<span class="ofbicon-gear"></span>
	<span class="ofbicon-gear ofbicon-2x"></span>
	<span class="ofbicon-gear ofbicon-3x"></span>
	<span class="ofbicon-gear ofbicon-4x"></span>
	<span class="ofbicon-gear ofbicon-5x"></span>
*/
.ofbicon-gear:before {
	content: "\EA1A";
}

/*
###gmail
	<span class="ofbicon-gmail"></span>
	<span class="ofbicon-gmail ofbicon-2x"></span>
	<span class="ofbicon-gmail ofbicon-3x"></span>
	<span class="ofbicon-gmail ofbicon-4x"></span>
	<span class="ofbicon-gmail ofbicon-5x"></span>
*/
.ofbicon-gmail:before {
	content: "\EA1B";
}

/*
###graph
	<span class="ofbicon-graph"></span>
	<span class="ofbicon-graph ofbicon-2x"></span>
	<span class="ofbicon-graph ofbicon-3x"></span>
	<span class="ofbicon-graph ofbicon-4x"></span>
	<span class="ofbicon-graph ofbicon-5x"></span>
*/
.ofbicon-graph:before {
	content: "\EA1C";
}

/*
###heart
	<span class="ofbicon-heart"></span>
	<span class="ofbicon-heart ofbicon-2x"></span>
	<span class="ofbicon-heart ofbicon-3x"></span>
	<span class="ofbicon-heart ofbicon-4x"></span>
	<span class="ofbicon-heart ofbicon-5x"></span>
*/
.ofbicon-heart:before {
	content: "\EA1D";
}

/*
###home
	<span class="ofbicon-home"></span>
	<span class="ofbicon-home ofbicon-2x"></span>
	<span class="ofbicon-home ofbicon-3x"></span>
	<span class="ofbicon-home ofbicon-4x"></span>
	<span class="ofbicon-home ofbicon-5x"></span>
*/
.ofbicon-home:before {
	content: "\EA1E";
}

/*
###intern
	<span class="ofbicon-intern"></span>
	<span class="ofbicon-intern ofbicon-2x"></span>
	<span class="ofbicon-intern ofbicon-3x"></span>
	<span class="ofbicon-intern ofbicon-4x"></span>
	<span class="ofbicon-intern ofbicon-5x"></span>
*/
.ofbicon-intern:before {
	content: "\EA1F";
}

/*
###key
	<span class="ofbicon-key"></span>
	<span class="ofbicon-key ofbicon-2x"></span>
	<span class="ofbicon-key ofbicon-3x"></span>
	<span class="ofbicon-key ofbicon-4x"></span>
	<span class="ofbicon-key ofbicon-5x"></span>
*/
.ofbicon-key:before {
	content: "\EA20";
}

/*
###link
	<span class="ofbicon-link"></span>
	<span class="ofbicon-link ofbicon-2x"></span>
	<span class="ofbicon-link ofbicon-3x"></span>
	<span class="ofbicon-link ofbicon-4x"></span>
	<span class="ofbicon-link ofbicon-5x"></span>
*/
.ofbicon-link:before {
	content: "\EA21";
}

/*
###listed
	<span class="ofbicon-listed"></span>
	<span class="ofbicon-listed ofbicon-2x"></span>
	<span class="ofbicon-listed ofbicon-3x"></span>
	<span class="ofbicon-listed ofbicon-4x"></span>
	<span class="ofbicon-listed ofbicon-5x"></span>
*/
.ofbicon-listed:before {
	content: "\EA22";
}

/*
###login
	<span class="ofbicon-login"></span>
	<span class="ofbicon-login ofbicon-2x"></span>
	<span class="ofbicon-login ofbicon-3x"></span>
	<span class="ofbicon-login ofbicon-4x"></span>
	<span class="ofbicon-login ofbicon-5x"></span>
*/
.ofbicon-login:before {
	content: "\EA23";
}

/*
###logout
	<span class="ofbicon-logout"></span>
	<span class="ofbicon-logout ofbicon-2x"></span>
	<span class="ofbicon-logout ofbicon-3x"></span>
	<span class="ofbicon-logout ofbicon-4x"></span>
	<span class="ofbicon-logout ofbicon-5x"></span>
*/
.ofbicon-logout:before {
	content: "\EA24";
}

/*
###mail
	<span class="ofbicon-mail"></span>
	<span class="ofbicon-mail ofbicon-2x"></span>
	<span class="ofbicon-mail ofbicon-3x"></span>
	<span class="ofbicon-mail ofbicon-4x"></span>
	<span class="ofbicon-mail ofbicon-5x"></span>
*/
.ofbicon-mail:before {
	content: "\EA25";
}

/*
###makers
	<span class="ofbicon-makers"></span>
	<span class="ofbicon-makers ofbicon-2x"></span>
	<span class="ofbicon-makers ofbicon-3x"></span>
	<span class="ofbicon-makers ofbicon-4x"></span>
	<span class="ofbicon-makers ofbicon-5x"></span>
*/
.ofbicon-makers:before {
	content: "\EA26";
}

/*
###memo
	<span class="ofbicon-memo"></span>
	<span class="ofbicon-memo ofbicon-2x"></span>
	<span class="ofbicon-memo ofbicon-3x"></span>
	<span class="ofbicon-memo ofbicon-4x"></span>
	<span class="ofbicon-memo ofbicon-5x"></span>
*/
.ofbicon-memo:before {
	content: "\EA27";
}

/*
###motto
	<span class="ofbicon-motto"></span>
	<span class="ofbicon-motto ofbicon-2x"></span>
	<span class="ofbicon-motto ofbicon-3x"></span>
	<span class="ofbicon-motto ofbicon-4x"></span>
	<span class="ofbicon-motto ofbicon-5x"></span>
*/
.ofbicon-motto:before {
	content: "\EA28";
}

/*
###movie
	<span class="ofbicon-movie"></span>
	<span class="ofbicon-movie ofbicon-2x"></span>
	<span class="ofbicon-movie ofbicon-3x"></span>
	<span class="ofbicon-movie ofbicon-4x"></span>
	<span class="ofbicon-movie ofbicon-5x"></span>
*/
.ofbicon-movie:before {
	content: "\EA29";
}

/*
###new
	<span class="ofbicon-new"></span>
	<span class="ofbicon-new ofbicon-2x"></span>
	<span class="ofbicon-new ofbicon-3x"></span>
	<span class="ofbicon-new ofbicon-4x"></span>
	<span class="ofbicon-new ofbicon-5x"></span>
*/
.ofbicon-new:before {
	content: "\EA2A";
}

/*
###ng
	<span class="ofbicon-ng"></span>
	<span class="ofbicon-ng ofbicon-2x"></span>
	<span class="ofbicon-ng ofbicon-3x"></span>
	<span class="ofbicon-ng ofbicon-4x"></span>
	<span class="ofbicon-ng ofbicon-5x"></span>
*/
.ofbicon-ng:before {
	content: "\EA2B";
}

/*
###ok
	<span class="ofbicon-ok"></span>
	<span class="ofbicon-ok ofbicon-2x"></span>
	<span class="ofbicon-ok ofbicon-3x"></span>
	<span class="ofbicon-ok ofbicon-4x"></span>
	<span class="ofbicon-ok ofbicon-5x"></span>
*/
.ofbicon-ok:before {
	content: "\EA2C";
}

/*
###opinionbox
	<span class="ofbicon-opinionbox"></span>
	<span class="ofbicon-opinionbox ofbicon-2x"></span>
	<span class="ofbicon-opinionbox ofbicon-3x"></span>
	<span class="ofbicon-opinionbox ofbicon-4x"></span>
	<span class="ofbicon-opinionbox ofbicon-5x"></span>
*/
.ofbicon-opinionbox:before {
	content: "\EA2D";
}

/*
###person
	<span class="ofbicon-person"></span>
	<span class="ofbicon-person ofbicon-2x"></span>
	<span class="ofbicon-person ofbicon-3x"></span>
	<span class="ofbicon-person ofbicon-4x"></span>
	<span class="ofbicon-person ofbicon-5x"></span>
*/
.ofbicon-person:before {
	content: "\EA2E";
}

/*
###point
	<span class="ofbicon-point"></span>
	<span class="ofbicon-point ofbicon-2x"></span>
	<span class="ofbicon-point ofbicon-3x"></span>
	<span class="ofbicon-point ofbicon-4x"></span>
	<span class="ofbicon-point ofbicon-5x"></span>
*/
.ofbicon-point:before {
	content: "\EA2F";
}

/*
###pr
	<span class="ofbicon-pr"></span>
	<span class="ofbicon-pr ofbicon-2x"></span>
	<span class="ofbicon-pr ofbicon-3x"></span>
	<span class="ofbicon-pr ofbicon-4x"></span>
	<span class="ofbicon-pr ofbicon-5x"></span>
*/
.ofbicon-pr:before {
	content: "\EA30";
}

/*
###presant
	<span class="ofbicon-presant"></span>
	<span class="ofbicon-presant ofbicon-2x"></span>
	<span class="ofbicon-presant ofbicon-3x"></span>
	<span class="ofbicon-presant ofbicon-4x"></span>
	<span class="ofbicon-presant ofbicon-5x"></span>
*/
.ofbicon-presant:before {
	content: "\EA31";
}

/*
###profile
	<span class="ofbicon-profile"></span>
	<span class="ofbicon-profile ofbicon-2x"></span>
	<span class="ofbicon-profile ofbicon-3x"></span>
	<span class="ofbicon-profile ofbicon-4x"></span>
	<span class="ofbicon-profile ofbicon-5x"></span>
*/
.ofbicon-profile:before {
	content: "\EA32";
}

/*
###proviso
	<span class="ofbicon-proviso"></span>
	<span class="ofbicon-proviso ofbicon-2x"></span>
	<span class="ofbicon-proviso ofbicon-3x"></span>
	<span class="ofbicon-proviso ofbicon-4x"></span>
	<span class="ofbicon-proviso ofbicon-5x"></span>
*/
.ofbicon-proviso:before {
	content: "\EA33";
}

/*
###question
	<span class="ofbicon-question"></span>
	<span class="ofbicon-question ofbicon-2x"></span>
	<span class="ofbicon-question ofbicon-3x"></span>
	<span class="ofbicon-question ofbicon-4x"></span>
	<span class="ofbicon-question ofbicon-5x"></span>
*/
.ofbicon-question:before {
	content: "\EA34";
}

/*
###registration
	<span class="ofbicon-registration"></span>
	<span class="ofbicon-registration ofbicon-2x"></span>
	<span class="ofbicon-registration ofbicon-3x"></span>
	<span class="ofbicon-registration ofbicon-4x"></span>
	<span class="ofbicon-registration ofbicon-5x"></span>
*/
.ofbicon-registration:before {
	content: "\EA35";
}

/*
###reload
	<span class="ofbicon-reload"></span>
	<span class="ofbicon-reload ofbicon-2x"></span>
	<span class="ofbicon-reload ofbicon-3x"></span>
	<span class="ofbicon-reload ofbicon-4x"></span>
	<span class="ofbicon-reload ofbicon-5x"></span>
*/
.ofbicon-reload:before {
	content: "\EA36";
}

/*
###seating
	<span class="ofbicon-seating"></span>
	<span class="ofbicon-seating ofbicon-2x"></span>
	<span class="ofbicon-seating ofbicon-3x"></span>
	<span class="ofbicon-seating ofbicon-4x"></span>
	<span class="ofbicon-seating ofbicon-5x"></span>
*/
.ofbicon-seating:before {
	content: "\EA37";
}

/*
###slide
	<span class="ofbicon-slide"></span>
	<span class="ofbicon-slide ofbicon-2x"></span>
	<span class="ofbicon-slide ofbicon-3x"></span>
	<span class="ofbicon-slide ofbicon-4x"></span>
	<span class="ofbicon-slide ofbicon-5x"></span>
*/
.ofbicon-slide:before {
	content: "\EA38";
}

/*
###sns
	<span class="ofbicon-sns"></span>
	<span class="ofbicon-sns ofbicon-2x"></span>
	<span class="ofbicon-sns ofbicon-3x"></span>
	<span class="ofbicon-sns ofbicon-4x"></span>
	<span class="ofbicon-sns ofbicon-5x"></span>
*/
.ofbicon-sns:before {
	content: "\EA39";
}

/*
###sp
	<span class="ofbicon-sp"></span>
	<span class="ofbicon-sp ofbicon-2x"></span>
	<span class="ofbicon-sp ofbicon-3x"></span>
	<span class="ofbicon-sp ofbicon-4x"></span>
	<span class="ofbicon-sp ofbicon-5x"></span>
*/
.ofbicon-sp:before {
	content: "\EA3A";
}

/*
###special
	<span class="ofbicon-special"></span>
	<span class="ofbicon-special ofbicon-2x"></span>
	<span class="ofbicon-special ofbicon-3x"></span>
	<span class="ofbicon-special ofbicon-4x"></span>
	<span class="ofbicon-special ofbicon-5x"></span>
*/
.ofbicon-special:before {
	content: "\EA3B";
}

/*
###spot
	<span class="ofbicon-spot"></span>
	<span class="ofbicon-spot ofbicon-2x"></span>
	<span class="ofbicon-spot ofbicon-3x"></span>
	<span class="ofbicon-spot ofbicon-4x"></span>
	<span class="ofbicon-spot ofbicon-5x"></span>
*/
.ofbicon-spot:before {
	content: "\EA3C";
}

/*
###star
	<span class="ofbicon-star"></span>
	<span class="ofbicon-star ofbicon-2x"></span>
	<span class="ofbicon-star ofbicon-3x"></span>
	<span class="ofbicon-star ofbicon-4x"></span>
	<span class="ofbicon-star ofbicon-5x"></span>
*/
.ofbicon-star:before {
	content: "\EA3D";
}

/*
###suggestionbox
	<span class="ofbicon-suggestionbox"></span>
	<span class="ofbicon-suggestionbox ofbicon-2x"></span>
	<span class="ofbicon-suggestionbox ofbicon-3x"></span>
	<span class="ofbicon-suggestionbox ofbicon-4x"></span>
	<span class="ofbicon-suggestionbox ofbicon-5x"></span>
*/
.ofbicon-suggestionbox:before {
	content: "\EA3E";
}

/*
###talk
	<span class="ofbicon-talk"></span>
	<span class="ofbicon-talk ofbicon-2x"></span>
	<span class="ofbicon-talk ofbicon-3x"></span>
	<span class="ofbicon-talk ofbicon-4x"></span>
	<span class="ofbicon-talk ofbicon-5x"></span>
*/
.ofbicon-talk:before {
	content: "\EA3F";
}

/*
###time
	<span class="ofbicon-time"></span>
	<span class="ofbicon-time ofbicon-2x"></span>
	<span class="ofbicon-time ofbicon-3x"></span>
	<span class="ofbicon-time ofbicon-4x"></span>
	<span class="ofbicon-time ofbicon-5x"></span>
*/
.ofbicon-time:before {
	content: "\EA40";
}

/*
###unique
	<span class="ofbicon-unique"></span>
	<span class="ofbicon-unique ofbicon-2x"></span>
	<span class="ofbicon-unique ofbicon-3x"></span>
	<span class="ofbicon-unique ofbicon-4x"></span>
	<span class="ofbicon-unique ofbicon-5x"></span>
*/
.ofbicon-unique:before {
	content: "\EA41";
}

/*
###portfolio
	<span class="ofbicon-portfolio"></span>
	<span class="ofbicon-portfolio ofbicon-2x"></span>
	<span class="ofbicon-portfolio ofbicon-3x"></span>
	<span class="ofbicon-portfolio ofbicon-4x"></span>
	<span class="ofbicon-portfolio ofbicon-5x"></span>
*/
.ofbicon-portfolio:before {
	content: "\EA42";
}

/*
###three-d
	<span class="ofbicon-three-d"></span>
	<span class="ofbicon-three-d ofbicon-2x"></span>
	<span class="ofbicon-three-d ofbicon-3x"></span>
	<span class="ofbicon-three-d ofbicon-4x"></span>
	<span class="ofbicon-three-d ofbicon-5x"></span>
*/
.ofbicon-three-d:before {
	content: "\EA43";
}

/*
###drawing
	<span class="ofbicon-drawing"></span>
	<span class="ofbicon-drawing ofbicon-2x"></span>
	<span class="ofbicon-drawing ofbicon-3x"></span>
	<span class="ofbicon-drawing ofbicon-4x"></span>
	<span class="ofbicon-drawing ofbicon-5x"></span>
*/
.ofbicon-drawing:before {
	content: "\EA44";
}

/*
###show
	<span class="ofbicon-show"></span>
	<span class="ofbicon-show ofbicon-2x"></span>
	<span class="ofbicon-show ofbicon-3x"></span>
	<span class="ofbicon-show ofbicon-4x"></span>
	<span class="ofbicon-show ofbicon-5x"></span>
*/
.ofbicon-show:before {
	content: "\EA45";
}

/*
###feature
	<span class="ofbicon-feature"></span>
	<span class="ofbicon-feature ofbicon-2x"></span>
	<span class="ofbicon-feature ofbicon-3x"></span>
	<span class="ofbicon-feature ofbicon-4x"></span>
	<span class="ofbicon-feature ofbicon-5x"></span>
*/
.ofbicon-feature:before {
	content: "\EA46";
}

/*
###unsubscribe
	<span class="ofbicon-unsubscribe"></span>
	<span class="ofbicon-unsubscribe ofbicon-2x"></span>
	<span class="ofbicon-unsubscribe ofbicon-3x"></span>
	<span class="ofbicon-unsubscribe ofbicon-4x"></span>
	<span class="ofbicon-unsubscribe ofbicon-5x"></span>
*/
.ofbicon-unsubscribe:before {
	content: "\EA47";
}

/*
###deleted
	<span class="ofbicon-deleted"></span>
	<span class="ofbicon-deleted ofbicon-2x"></span>
	<span class="ofbicon-deleted ofbicon-3x"></span>
	<span class="ofbicon-deleted ofbicon-4x"></span>
	<span class="ofbicon-deleted ofbicon-5x"></span>
*/
.ofbicon-deleted:before {
	content: "\EA48";
}

/*
###close_s
	<span class="ofbicon-close_s"></span>
	<span class="ofbicon-close_s ofbicon-2x"></span>
	<span class="ofbicon-close_s ofbicon-3x"></span>
	<span class="ofbicon-close_s ofbicon-4x"></span>
	<span class="ofbicon-close_s ofbicon-5x"></span>
*/
.ofbicon-close_s:before {
	content: "\EA49";
}

/*
###list
	<span class="ofbicon-list"></span>
	<span class="ofbicon-list ofbicon-2x"></span>
	<span class="ofbicon-list ofbicon-3x"></span>
	<span class="ofbicon-list ofbicon-4x"></span>
	<span class="ofbicon-list ofbicon-5x"></span>
*/
.ofbicon-list:before {
	content: "\EA4A";
}

/*
###loupe
	<span class="ofbicon-loupe"></span>
	<span class="ofbicon-loupe ofbicon-2x"></span>
	<span class="ofbicon-loupe ofbicon-3x"></span>
	<span class="ofbicon-loupe ofbicon-4x"></span>
	<span class="ofbicon-loupe ofbicon-5x"></span>
*/
.ofbicon-loupe:before {
	content: "\EA4B";
}

/*
###panel
	<span class="ofbicon-panel"></span>
	<span class="ofbicon-panel ofbicon-2x"></span>
	<span class="ofbicon-panel ofbicon-3x"></span>
	<span class="ofbicon-panel ofbicon-4x"></span>
	<span class="ofbicon-panel ofbicon-5x"></span>
*/
.ofbicon-panel:before {
	content: "\EA4C";
}

/*
###sort
	<span class="ofbicon-sort"></span>
	<span class="ofbicon-sort ofbicon-2x"></span>
	<span class="ofbicon-sort ofbicon-3x"></span>
	<span class="ofbicon-sort ofbicon-4x"></span>
	<span class="ofbicon-sort ofbicon-5x"></span>
*/
.ofbicon-sort:before {
	content: "\EA4D";
}

/*
###smile
	<span class="ofbicon-smile"></span>
	<span class="ofbicon-smile ofbicon-2x"></span>
	<span class="ofbicon-smile ofbicon-3x"></span>
	<span class="ofbicon-smile ofbicon-4x"></span>
	<span class="ofbicon-smile ofbicon-5x"></span>
*/
.ofbicon-smile:before {
	content: "\EA4E";
}

/*
###sad
	<span class="ofbicon-sad"></span>
	<span class="ofbicon-sad ofbicon-2x"></span>
	<span class="ofbicon-sad ofbicon-3x"></span>
	<span class="ofbicon-sad ofbicon-4x"></span>
	<span class="ofbicon-sad ofbicon-5x"></span>
*/
.ofbicon-sad:before {
	content: "\EA4F";
}

/*
###searchdiff
	<span class="ofbicon-searchdiff"></span>
	<span class="ofbicon-searchdiff ofbicon-2x"></span>
	<span class="ofbicon-searchdiff ofbicon-3x"></span>
	<span class="ofbicon-searchdiff ofbicon-4x"></span>
	<span class="ofbicon-searchdiff ofbicon-5x"></span>
*/
.ofbicon-searchdiff:before {
	content: "\EA50";
}

/*
###japanmap
	<span class="ofbicon-japanmap"></span>
	<span class="ofbicon-japanmap ofbicon-2x"></span>
	<span class="ofbicon-japanmap ofbicon-3x"></span>
	<span class="ofbicon-japanmap ofbicon-4x"></span>
	<span class="ofbicon-japanmap ofbicon-5x"></span>
*/
.ofbicon-japanmap:before {
	content: "\EA51";
}

/*
###timesheet
	<span class="ofbicon-timesheet"></span>
	<span class="ofbicon-timesheet ofbicon-2x"></span>
	<span class="ofbicon-timesheet ofbicon-3x"></span>
	<span class="ofbicon-timesheet ofbicon-4x"></span>
	<span class="ofbicon-timesheet ofbicon-5x"></span>
*/
.ofbicon-timesheet:before {
	content: "\EA52";
}

/*
###linearrow
	<span class="ofbicon-linearrow"></span>
	<span class="ofbicon-linearrow ofbicon-2x"></span>
	<span class="ofbicon-linearrow ofbicon-3x"></span>
	<span class="ofbicon-linearrow ofbicon-4x"></span>
	<span class="ofbicon-linearrow ofbicon-5x"></span>
*/
.ofbicon-linearrow:before {
	content: "\EA53";
}

/*
###normal
	<span class="ofbicon-normal"></span>
	<span class="ofbicon-normal ofbicon-2x"></span>
	<span class="ofbicon-normal ofbicon-3x"></span>
	<span class="ofbicon-normal ofbicon-4x"></span>
	<span class="ofbicon-normal ofbicon-5x"></span>
*/
.ofbicon-normal:before {
	content: "\EA54";
}

/*
###company_human
	<span class="ofbicon-company_human"></span>
	<span class="ofbicon-company_human ofbicon-2x"></span>
	<span class="ofbicon-company_human ofbicon-3x"></span>
	<span class="ofbicon-company_human ofbicon-4x"></span>
	<span class="ofbicon-company_human ofbicon-5x"></span>
*/
.ofbicon-company_human:before {
	content: "\EA55";
}

/*
###serious
	<span class="ofbicon-serious"></span>
	<span class="ofbicon-serious ofbicon-2x"></span>
	<span class="ofbicon-serious ofbicon-3x"></span>
	<span class="ofbicon-serious ofbicon-4x"></span>
	<span class="ofbicon-serious ofbicon-5x"></span>
*/
.ofbicon-serious:before {
	content: "\EA56";
}

/*
###arrow_v
	<span class="ofbicon-arrow_v"></span>
	<span class="ofbicon-arrow_v ofbicon-2x"></span>
	<span class="ofbicon-arrow_v ofbicon-3x"></span>
	<span class="ofbicon-arrow_v ofbicon-4x"></span>
	<span class="ofbicon-arrow_v ofbicon-5x"></span>
*/
.ofbicon-arrow_v:before {
	content: "\EA57";
}

/*
###arrow_up
	<span class="ofbicon-arrow_up"></span>
	<span class="ofbicon-arrow_up ofbicon-2x"></span>
	<span class="ofbicon-arrow_up ofbicon-3x"></span>
	<span class="ofbicon-arrow_up ofbicon-4x"></span>
	<span class="ofbicon-arrow_up ofbicon-5x"></span>
*/
.ofbicon-arrow_up:before {
	content: "\EA58";
}

/*
###star_ol
	<span class="ofbicon-star_ol"></span>
	<span class="ofbicon-star_ol ofbicon-2x"></span>
	<span class="ofbicon-star_ol ofbicon-3x"></span>
	<span class="ofbicon-star_ol ofbicon-4x"></span>
	<span class="ofbicon-star_ol ofbicon-5x"></span>
*/
.ofbicon-star_ol:before {
	content: "\EA59";
}

/*
###megaphone
	<span class="ofbicon-megaphone"></span>
	<span class="ofbicon-megaphone ofbicon-2x"></span>
	<span class="ofbicon-megaphone ofbicon-3x"></span>
	<span class="ofbicon-megaphone ofbicon-4x"></span>
	<span class="ofbicon-megaphone ofbicon-5x"></span>
*/
.ofbicon-megaphone:before {
	content: "\EA5A";
}

/*
###image_rotate
	<span class="ofbicon-image_rotate"></span>
	<span class="ofbicon-image_rotate ofbicon-2x"></span>
	<span class="ofbicon-image_rotate ofbicon-3x"></span>
	<span class="ofbicon-image_rotate ofbicon-4x"></span>
	<span class="ofbicon-image_rotate ofbicon-5x"></span>
*/
.ofbicon-image_rotate:before {
	content: "\EA5B";
}

/*
###info
	<span class="ofbicon-info"></span>
	<span class="ofbicon-info ofbicon-2x"></span>
	<span class="ofbicon-info ofbicon-3x"></span>
	<span class="ofbicon-info ofbicon-4x"></span>
	<span class="ofbicon-info ofbicon-5x"></span>
*/
.ofbicon-info:before {
	content: "\EA5C";
}
