@charset "UTF-8";
table { font-size: inherit; }

#recruitment_notice_dialog { position: fixed; right: 2em; bottom: 10em; /** NOTE: 音信不通メッセージのリマインドダイアログとの同時表示が行われた際に、その上に重なる値を指定 */ z-index: 11; width: 400px; box-sizing: border-box; padding: 24px 16px; background: #FFF; border: 1px solid #DDD; border-radius: 6px; box-shadow: 0px 3px 5px rgba(26, 26, 26, 0.16); }

#recruitment_notice_dialog .header { display: flex; align-items: flex-start; margin-bottom: 16px; }

#recruitment_notice_dialog .label { margin-right: 8px; padding: 2px 8px; background: #3969BE; font-weight: bold; font-size: 12px; line-height: 150%; color: #FFF; }

#recruitment_notice_dialog .title { font-weight: bold; font-size: 16px; line-height: 150%; color: #333; }

#recruitment_notice_dialog .dismiss { position: absolute; top: 5px; right: 8px; font-size: 24px; font-weight: bold; line-height: 0.8; color: #BFBFBF; cursor: pointer; }

#recruitment_notice_dialog .dismiss:hover { opacity: .7; }

#recruitment_notice_dialog .main { margin-bottom: 24px; font-size: 14px; line-height: 150%; }

#recruitment_notice_dialog .explain { margin-bottom: 0; }

#recruitment_notice_dialog .footer { display: flex; justify-content: end; gap: 8px; }

#recruitment_notice_dialog .close-notice { padding: 10px 40px; background: #F1F1F1; border: 1px solid #BFBFBF; border-radius: 6px; font-size: 14px; line-height: 100%; }

#recruitment_notice_dialog button[type="button"]:hover { opacity: .7; }

#recruitment_notice_dialog .link { padding: 10px 12px; background: #004170; border: none; border-radius: 6px; font-size: 14px; line-height: 100%; color: #FFF; }
